.bt-btn {
  height: 40px;
  background-color: var(--bt-main);
  border: 1px solid var(--bt-main);
  color: var(--bt-white) !important;
  line-height: 1;
  font-size: 18px;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease 0s;

  &:hover {
    background-color: var(--bt-white);
    color: var(--bt-main) !important;
  }
}